<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="mainpage.html" />
        <!-- or "index.aspx" for ASP.NET apps -->
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="false" />
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="None" />
  </system.web>
</configuration>